# Google Workspace SMTP configurations
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=info@lingora.ca
SMTP_PASSWORD=your_google_app_password_here

# Recipient Email for Form Submissions
EMAIL_RECEIVER=info@lingora.ca
